html, body {
	height: 100%;
}
body {
	text-align: center;
	background-color: #eeeeee;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: black;
}
.answer {
	display: inline-block;
	margin-top: 20px;
	font-weight: bold;
	font-size: 120pt;
}
.answerBookends {
	max-width: 120px;
	height: auto;
}
.extra {
	position: absolute;
	background-color: #aaaaaa;
	color: #eeeeee;
	top: 100%;		
	right: 100%;
}
.smallbox {
	width: 30px;
	height: 30px;
}
.divbutt {	
	line-height: 32px;
	font-weight: bold;
	font-size: 20pt;
	cursor: pointer;
	
	border:	#eeeeee 4px solid
}
.info-overlay {	
	width: 100%;
	height: 100%;
	
	font-size: 20pt;
	
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
.info-msg-top {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 20px;
}
.info-msg-bottom {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 20px;
}
.info-msg-middle {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 30%;
	font-size: 100pt;
	font-weight: bold;
}
.show.info-overlay {
	top: 0px;
	left: 0px;
	opacity: 0.9;
}
.show.divbutt {
	top: 10px;		
	right: 10px;
}
.show.toggleMusic {
	top: 50px;
}
.show.next {
	top: 90px;
}
.show.github {
	right: 50px;
}
.show.catsuki {
	right: 90px;
}
.show.catoi {
	right: 130px;
}
.reloading-rss {
	position: absolute;
	top: 10px;
	left: 10px;
}
.reloading-rss, .reloading-rss-image {
	width: 50px;
	height: 50px;
}